.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* position: fixed;
    left: 0;
    right: 0; */

    height: 90px;

    padding-left: 5%;
    padding-right: 5%;

    background-color: #d3d3d3;
}

.logo > img{
    width: 180px;
}

.nav{
    display: flex;
    align-items: center;
}

.nav a{
    margin-left: 15px;
}

.links{
    margin-right: 10px;
}

.links > a{
    color: #191970;
}

.links > a:first-child{
    color: #0000ff;
}

.links > a:hover{
    opacity: 0.5;
}

.icons{
    display: flex;
}

.icons > a{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    border-radius: 50%;
    width: 28px;
    height: 28px;
}